<h1>Help</h1>
<p>Get help page on Ruby on Rails tutorial at the 
	<a href="http://www.railstutorial.org/#help"> Rails hep tutorial section</a> to get help on this saple app, see the <a href="http://www.railstutorial.org/book"><em>Ruby on Rails tutorial</em> book</a>
</p>